@media (max-width: 600px) 
{
    .navbar{
        padding: 0 6vw;
        height: 60px;

    }
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200ox, 1fr));
        gap: 20px;  
    }



    
}

@media(min-width:449px){

.container{
    width: 100%;
   
   
}



}